/* General */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: #fffafc;
    color: #000; 
}

/* Header y nav */
header {
    background: linear-gradient(90deg, #f6b1c3, #fbc2eb);
    padding: 1em;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1em 2em;
}

.logo {
    width: 150px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

nav {
    flex: 1;
    background-color: #f8f8f8;
    padding: 1em 2em;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}

nav h1 {
    margin: 0;
    font-size: 2.5em;
    color: #333;
    text-shadow: 1px 1px 2px #ddd;
    margin-bottom: 0.5em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1.5em;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1.1em;
    position: relative;
    transition: all 0.3s ease;
}

nav a::after {
    content: '';
    display: block;
    height: 2px;
}

/* Main */
main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1em;
    align-items: start
}

.intro {
    text-align: center;
    margin-bottom: 2em;
}

.intro h2 {
    font-size: 2em;
    color: #555;
}

.curiosidades {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}

.curio-box {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 1em;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
}

.curio-box:hover {
    transform: scale(1.05);
}

.curio-box img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 1em;
}

.curio-box h3 {
    margin-top: 0;
    color: #ff8c94;
}

aside {
     background: #ffe4f2;
    padding: 1em;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    grid-column: 1;
    grid-row: 1 / span 2;
    position: sticky;
    top: 1em;
    align-self: start;
        }

aside h2 {
    font-size: 1.5em;
    color: #d94f8b;
    margin-bottom: 0.5em;
}

aside p {
    font-size: 1em;
    color: #555;
    margin-bottom: 0.5em;
}

aside a img.aside-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s;
}

aside a img.aside-img:hover {
    transform: scale(1.05);
}

section, article {
    grid-column: 2;
}

@media (max-width: 768px) {
main {
        grid-template-columns: 1fr;
}
aside, section, article {
        grid-column: 1;
}}

footer {
    text-align: center;
    padding: 1em;
    background-color: #f6b1c3;
    color: #fff;
    margin-top: 2em;
    border-radius: 0 0 12px 12px;
}