body {border: solid aqua 5px;
padding: 1rem; /*rem = 16px*/}

header {
    border: dashed blueviolet 2px;
    padding: 1rem;
    display: block;
    margin: 1rem auto;
    text-align: center;
    border: radius 0.5rem;}
  
h1{text-align: center;}

main { border: rgb(134, 23, 238) 5px;
padding: 1rem;
margin: 1rem;}

footer {background: gray;
color: white;display: inline block;}

h2 { border: solid purple 5px;text-align: center;
    display: inline-block;}
p {border: solid aquamarine 2px; text-align: justify;}

nav {
    display: inline-block;   
    border: 1px solid red;    
    border-radius: 1rem;
    padding: 0.5rem 1rem;}

ul{ list-style: none; padding: 0;}
li{ display: inline; }
nav a{ text-decoration: none;}