main{
    background: violet; padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}

section{
    display: flex;
    background-color: purple;
}

article{
    width: 100px;
    height: 100px;
    background: green;
}

section, article{
    border: solid rgb(0, 0, 0) 3px;
    border-radius: 1rem;
    margin: 1rem;
}

.mitad{width: 45%;}
.todo{width: 100%;}

.peque{height: 50px;}
.medium{height: 120px;}
.grande{height: 200px;}
.alto{height: 150px;}